import React from "react";

import styles from './index.module.scss';

const Component = () => {
return (
<div className={styles.rootHeader}>
    <div className={styles.main}>
        <div className={styles.logo}>
            <img className={styles.logo}>
            <img className={styles.icon}>
            <img className={styles.icon}>
            <div className={styles.h} />
            <div className={styles.vector5} />
            </img>
            </img>
            </img>
            <p className={styles.hipnode}>Knowledgechain</p>
        </div>
        <div className={styles.main}>
            <img className={styles.icons}>
            <img className={styles.home}>
            <img className={styles.home2}>
            <div className={styles.vector} />
            </img>
            </img>
            <img className={styles.calendar}>
            <img className={styles.home2}>
            <img className={styles.layer2}>
            <div className={styles.calendar} />
            </img>
            </img>
            </img>
            <img className={styles.group}>
            <img className={styles.home2}>
            <div className={styles.ellipse22} />
            <div className={styles.ellipse23} />
            <div className={styles.subtract} />
            <div className={styles.subtract1} />
            <div className={styles.subtract2} />
            <div className={styles.subtract3} />
            <div className={styles.ellipse26} />
            </img>
            </img>
            <img className={styles.podcasts}>
            <img className={styles.home2}>
            <img className={styles.group}>
            <div className={styles.vector} />
            <div className={styles.vector1} />
            <div className={styles.vector2} />
            </img>
            </img>
            </img>
            <img className={styles.interviews}>
            <img className={styles.home2}>
            <div className={styles.vector} />
            </img>
            </img>
            </img>
            <div className={styles.search}>
                <div className={styles.search}>
                    <div className={styles.title}>
                        <p className={styles.typeHereToSearch}>Type here to search...</p>
                        <img
                                src="https://p6-semi-sign.byteimg.com/tos-cn-i-acvclvrq33/ed9bfc58d251433e89ba42c7845e562e.png?rk3s=521bdb00&x-expires=1701178040&x-signature=y4hSrN6HyvYU9Azn7W7E83BzndA%3D"
                                className={styles.searchIcon}
                        />
                    </div>
                </div>
                <div className={styles.rightInfo}>
                    <img className={styles.message}>
                    <img className={styles.message}>
                    <img className={styles.group}>
                    <div className={styles.vector} />
                    </img>
                    </img>
                    </img>
                    <img className={styles.notification}>
                    <img className={styles.notification}>
                    <img className={styles.group}>
                    <div className={styles.vector} />
                    <div className={styles.ellipse26} />
                    </img>
                    </img>
                    </img>
                    <div className={styles.profile}>
                        <div className={styles.name}>
                            <img className={styles.profileImage}>
                            <div className={styles.rectangle21} />
                            <div className={styles.rectangle22} />
                            <img className={styles.maskGroup}>
                            <img className={styles.vector7} />
                            </img>
                            </img>
                            <p className={styles.aRJakir}>AR. Jakir</p>
                        </div>
                        <img className={styles.vector8}>
                        <div className={styles.vector8} />
                        </img>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
);
}
<style scoped lang="scss">

export default Component;
.rootHeader {
align-items: flex-start;
background: #262d34ff;
flex-direction: column;
padding: 20px 22px;
row-gap: 10px;
display: inline-flex;
color: var(--red-red-90, #ff571aff);
font-size: 26px;
font-weight: 700;
line-height: 38px;
text-align: left;
font-family: "Source Sans Pro";

& > .main {
align-items: center;
column-gap: 84px;
display: flex;
width: 1360px;
flex-shrink: 0;

& > .logo {
align-items: center;
column-gap: 10px;
display: inline-flex;
flex-shrink: 0;

.logo {
border-radius: 6px;
height: 30px;
width: 30px;
flex-shrink: 0;

& > .icon {
height: 22px;
width: 22px;
flex-shrink: 0;

.icon {
height: 20px;
width: 16px;

.h {
background: var(--dark-2, #1e252bff);
height: 14px;
width: 12px;
}

.vector5 {
height: 3px;
margin: 17px 0px 0px;
width: 16px;
}
}
}
}

.hipnode {
flex-shrink: 0;
min-width: 191px;
vertical-align: top;
}
}

.main {
align-items: flex-start;
column-gap: 17px;
display: inline-flex;
flex-shrink: 0;
color: var(--secondary-color-background-2, #f7f7f7ff);
font-size: 16px;
line-height: 24px;

& > .search {
align-items: center;
column-gap: 58px;
display: inline-flex;
justify-content: flex-end;
flex-shrink: 0;

.rightInfo {
align-items: flex-start;
column-gap: 25px;
display: inline-flex;
flex-shrink: 0;

.profile {
align-items: center;
column-gap: 10px;
display: inline-flex;
flex-shrink: 0;

& > .vector8 {
height: 20px;
width: 20px;
flex-shrink: 0;

.vector8 {
background: var(--secondary-color-secondary-6, #f4f6f8ff);
height: 8px;
margin: 6px 0px 0px;
width: 12px;
}
}

.name {
align-items: center;
column-gap: 16px;
display: inline-flex;
flex-shrink: 0;

.profileImage {
height: 40px;
width: 40px;
flex-shrink: 0;

.rectangle21 {
border-radius: 8px;
border: 1px solid #ea942cff;
height: 38px;
width: 38px;
}

.rectangle22 {
background: #f9dfc0ff;
border-radius: 6px;
height: 34px;
margin: 3px 0px 0px;
width: 34px;
}

.maskGroup {
height: 32px;
margin: 4px 0px 0px;
width: 30px;

.vector7 {
background: #000000ff;
height: 32px;
width: 30px;
}
}
}

.aRJakir {
flex-shrink: 0;
vertical-align: top;
width: 71px;
}
}
}

& > .message {
border-radius: 7px;
height: 40px;
width: 40px;
flex-shrink: 0;

.message {
height: 20px;
overflow: hidden;
width: 20px;
flex-shrink: 0;

.group {
height: 20px;
width: 20px;

.vector {
background: var(--secondary-color-secondary-6, #f4f6f8ff);
height: 20px;
width: 20px;
}
}
}
}

& > .notification {
border-radius: 7px;
height: 40px;
width: 40px;
flex-shrink: 0;

.notification {
height: 20px;
overflow: hidden;
width: 20px;
flex-shrink: 0;

.group {
height: 20px;
width: 20px;

.vector {
background: var(--secondary-color-secondary-6, #f4f6f8ff);
height: 20px;
width: 20px;
}

.ellipse26 {
background: #ff6934ff;
border-radius: 50%;
height: 5px;
margin: 1px 0px 0px;
outline-color: #262d34ff;
outline-style: solid;
outline-width: 1px;
width: 5px;
}
}
}
}
}

.search {
align-items: flex-start;
background: var(--dark-4, #2c353dff);
border-radius: 8px;
display: flex;
flex-direction: column;
padding: 9px 20px;
row-gap: 10px;
width: 400px;
flex-shrink: 0;
color: var(--secondary-color-secondary-4, #858eadff);
font-size: 14px;
font-weight: 400;
line-height: 22px;

.title {
align-items: center;
column-gap: 240px;
display: inline-flex;
flex-shrink: 0;

.searchIcon {
height: 20px;
width: 20px;
flex-shrink: 0;
}

.typeHereToSearch {
flex-shrink: 0;
vertical-align: top;
width: 140px;
}
}
}
}

.icons {
height: 40px;
width: 280px;
flex-shrink: 0;

.home {
border-radius: 7px;
height: 40px;
width: 40px;
flex-shrink: 0;

.home2 {
height: 20px;
overflow: hidden;
width: 20px;
flex-shrink: 0;

.vector {
background: var(--secondary-color-background, #ffffffff);
height: 20px;
width: 20px;
}
}
}

& > .calendar {
border-radius: 7px;
height: 40px;
width: 40px;
flex-shrink: 0;

.home2 {
height: 20px;
overflow: hidden;
width: 20px;
flex-shrink: 0;

.layer2 {
height: 20px;
width: 19px;

.calendar {
background: var(--secondary-color-secondary-6, #f4f6f8ff);
height: 20px;
width: 19px;
}
}
}
}

& > .group {
border-radius: 7px;
height: 40px;
width: 40px;
flex-shrink: 0;

.home2 {
height: 20px;
width: 20px;
flex-shrink: 0;

.ellipse22 {
background: #f4f6f8ff;
border-radius: 50%;
height: 6px;
margin: 12px 0px 0px;
width: 12px;
}

.ellipse23 {
background: #f4f6f8ff;
border-radius: 50%;
height: 8px;
margin: 2px 0px 0px;
width: 8px;
}

.subtract {
background: #f4f6f8ff;
height: 7px;
margin: 3px 0px 0px;
width: 5px;
}

.subtract1 {
background: #f4f6f8ff;
height: 7px;
margin: 3px 0px 0px 10px;
width: 5px;
}

.subtract2,
.subtract3 {
background: #f4f6f8ff;
height: 5px;
margin: 11px 0px 0px;
width: 5px;
}

.ellipse26 {
background: #ff6934ff;
border-radius: 50%;
height: 5px;
margin: 1px 0px 0px 9px;
outline-color: #262d34ff;
outline-style: solid;
outline-width: 1px;
width: 5px;
}
}
}

.podcasts {
border-radius: 7px;
height: 40px;
width: 40px;
flex-shrink: 0;

.home2 {
height: 20px;
overflow: hidden;
width: 20px;
flex-shrink: 0;

.group {
height: 20px;
width: 20px;

.vector {
background: var(--secondary-color-secondary-6, #f4f6f8ff);
height: 14px;
width: 20px;
}

.vector1 {
background: var(--secondary-color-secondary-6, #f4f6f8ff);
height: 9px;
margin: 11px 0px 0px;
width: 10px;
}

.vector2 {
background: var(--secondary-color-secondary-6, #f4f6f8ff);
height: 10px;
margin: 4px 0px 0px;
width: 5px;
}
}
}
}

.interviews {
border-radius: 7px;
height: 40px;
width: 40px;
flex-shrink: 0;

.home2 {
height: 20px;
overflow: hidden;
width: 20px;
flex-shrink: 0;

.vector {
background: var(--secondary-color-secondary-6, #f4f6f8ff);
height: 20px;
width: 18px;
}
}
}
}
}
}
}